---
# Source: age-secrets/templates/age-controller.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: age-secret-controller
  namespace: age-system
  labels:
    helm.sh/chart: age-secrets-0.0.1
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/managed-by: Helm
---
# Source: age-secrets/templates/job.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: age-secret-controller-job
  namespace: age-system
  labels:
    helm.sh/chart: age-secrets-0.0.1
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/managed-by: Helm
---
# Source: age-secrets/templates/age-controller.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: age-secret-controller
  labels:
    helm.sh/chart: age-secrets-0.0.1
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/managed-by: Helm
rules:
  - apiGroups:
      - security.age.io
    resources:
      - agesecrets
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - security.age.io
    resources:
      - agesecrets/status
    verbs:
      - get
      - update
      - patch
  - apiGroups: [""]
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs: ["get","list","watch","create","update","patch","delete"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create","patch"]
---
# Source: age-secrets/templates/age-controller.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: age-secret-controller
  labels:
    helm.sh/chart: age-secrets-0.0.1
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/managed-by: Helm
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: age-secret-controller
subjects:
  - kind: ServiceAccount
    name: age-secret-controller
    namespace: age-system
---
# Source: age-secrets/templates/job.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: age-secret-controller-job
  namespace: age-system
  labels:
    helm.sh/chart: age-secrets-0.0.1
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/managed-by: Helm
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get","list","create","update","patch"]
---
# Source: age-secrets/templates/job.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: age-secret-controller-job
  namespace: age-system
  labels:
    helm.sh/chart: age-secrets-0.0.1
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/managed-by: Helm
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: age-secret-controller-job
subjects:
  - kind: ServiceAccount
    name: age-secret-controller-job
    namespace: age-system
---
# Source: age-secrets/templates/age-gui.yaml
apiVersion: v1
kind: Service
metadata:
  name: age-secret-controller-gui
  namespace: age-system
  labels:
    app: age-gui
    helm.sh/chart: age-secrets-0.0.1
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  selector:
    app: age-gui
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
---
# Source: age-secrets/templates/metrics-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: age-secret-controller-metrics
  namespace: age-system
  labels:
    app: age-secret-controller
    helm.sh/chart: age-secrets-0.0.1
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: age-secret-operator
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
  ports:
  - name: metrics
    port: 8080
    targetPort: 8080
---
# Source: age-secrets/templates/age-controller.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: age-secret-controller
  namespace: age-system
  labels:
    app: age-secret-controller
    helm.sh/chart: age-secrets-0.0.1
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 3
  selector:
    matchLabels:
      app: age-secret-controller
      app.kubernetes.io/name: age-secrets
      app.kubernetes.io/instance: release-name
  template:
    metadata:
      labels:
        app: age-secret-controller
        app.kubernetes.io/name: age-secrets
        app.kubernetes.io/instance: release-name
    spec:
      serviceAccountName: age-secret-controller
      containers:
        - name: controller
          image: callmewhatuwant/age-secrets-operator:0.0.5
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: metrics
              protocol: TCP
          resources:
            limits:
              cpu: 200m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            runAsNonRoot: true
            runAsUser: 65532
          args:
            - --leader-elect=true
            - --leader-election-namespace=age-system
---
# Source: age-secrets/templates/age-gui.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: age-secret-controller-gui
  namespace: age-system
  labels:
    app: age-gui
    helm.sh/chart: age-secrets-0.0.1
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: "25%"
      maxUnavailable: "25%"
    type: "RollingUpdate"
  selector:
    matchLabels:
      app: age-gui
  template:
    metadata:
      labels:
        app: age-gui
    spec:
      containers:
        - name: age-gui
          ports:
            - containerPort: 8080
              name: gui
              protocol: TCP
          image: callmewhatuwant/age-gui:alpine3.22-perl
          imagePullPolicy: IfNotPresent
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            runAsNonRoot: true
            runAsUser: 101
      restartPolicy: Always
---
# Source: age-secrets/templates/job.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: age-secret-controller-age-key-rotation-init
  namespace: age-system
  labels:
    app.kubernetes.io/instance: "release-name-job"
    app.kubernetes.io/managed-by: "Helm-job"
    app.kubernetes.io/name: "age-secrets-job"
    app.kubernetes.io/version: "0.0.1-job"
    helm.sh/chart: "age-secrets-0.0.1-job"    
spec:
  backoffLimit: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: "release-name-job"
        app.kubernetes.io/managed-by: "Helm-job"
        app.kubernetes.io/name: "age-secrets-job"
        app.kubernetes.io/version: "0.0.1-job"
        helm.sh/chart: "age-secrets-0.0.1-job"
    spec:
      serviceAccountName: age-secret-controller-job
      restartPolicy: OnFailure
      containers:
        - name: gen-age-key
          image: "callmewhatuwant/age-job:3.22.2"
          imagePullPolicy: IfNotPresent
          command: ["/bin/sh","-c"]
          args:
            - |
              set -euo pipefail

              # Install required tools
              # apk add --no-cache kubectl age

              NS="age-system"
              DATE="$(date +%Y-%m-%d-%H-%M)"
              NAME="age-key-${DATE}"

              echo "Creating initial age key: $NAME"

              if kubectl -n "$NS" get secret "$NAME" >/dev/null 2>&1; then
                echo "Secret $NAME already exists – skipping."
                exit 0
              fi

              age-keygen -o /tmp/key.txt
              sed -i '/^#/d' /tmp/key.txt
              PUB="$(age-keygen -y < /tmp/key.txt | grep -v '^#')"

              kubectl -n "$NS" create secret generic "$NAME" \
                --from-file=private=/tmp/key.txt \
                --from-literal=public="$PUB"

              kubectl -n "$NS" annotate secret "$NAME" active="true" --overwrite
              kubectl -n "$NS" label secret "$NAME" app=age-key --overwrite
---
# Source: age-secrets/templates/cron.yaml
apiVersion: batch/v1
kind: CronJob
metadata:
  name: age-secret-controller-age-key-rotation
  namespace: age-system
  labels:
    app.kubernetes.io/instance: "release-name-job"
    app.kubernetes.io/managed-by: "Helm-job"
    app.kubernetes.io/name: "age-secrets-job"
    app.kubernetes.io/version: "0.0.1-job"
    helm.sh/chart: "age-secrets-0.0.1-job"
spec:
  schedule: "0 0 1 * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/instance: "release-name-job"
            app.kubernetes.io/managed-by: "Helm-job"
            app.kubernetes.io/name: "age-secrets-job"
            app.kubernetes.io/version: "0.0.1-job"
            helm.sh/chart: "age-secrets-0.0.1-job"
        spec:
          serviceAccountName: age-secret-controller-job
          restartPolicy: OnFailure
          containers:
            - name: gen-age-key
              image: "callmewhatuwant/age-job:3.22.2"
              imagePullPolicy: IfNotPresent
              command: ["/bin/sh","-c"]
              args:
                - |
                  set -euo pipefail

                  # Install required tools
                  # apk add --no-cache kubectl age

                  NS="age-system"
                  DATE="$(date +%Y-%m-%d-%H-%M)"
                  NAME="age-key-${DATE}"

                  # Skip if Secret already exists
                  if kubectl -n "$NS" get secret "$NAME" >/dev/null 2>&1; then
                    echo "Secret $NAME already exists – skipping."
                    exit 0
                  fi

                  # Generate private/public key pair and clean comments
                  age-keygen -o /tmp/key.txt
                  sed -i '/^#/d' /tmp/key.txt
                  PUB="$(age-keygen -y < /tmp/key.txt | grep -v '^#')"

                  # Create Secret
                  kubectl -n "$NS" create secret generic "$NAME" \
                    --from-file=private=/tmp/key.txt \
                    --from-literal=public="$PUB"

                  # Label and annotate
                  kubectl -n "$NS" annotate secret "$NAME" active="true" --overwrite
                  kubectl -n "$NS" label secret "$NAME" app=age-key --overwrite
---
# Source: age-secrets/templates/age-gui.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: age-secret-controller-gui
  namespace: age-system
  labels:
    app: age-gui
    helm.sh/chart: age-secrets-0.0.1
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/managed-by: Helm
spec:
  ingressClassName: nginx
  rules:
    - host: age-gui.local
      http:
        paths:
          - backend:
              service:
                name: age-secret-controller-gui
                port:
                  number: 8080
            path: /
            pathType: Prefix
---
# Source: age-secrets/templates/monitor.yaml
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: age-secret-controller-monitor
  namespace: cattle-monitoring-system
  labels:
    app: age-secret-controller
    release: rancher-monitoring
    helm.sh/chart: age-secrets-0.0.1
    app.kubernetes.io/name: age-secrets
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/managed-by: Helm
spec:
  namespaceSelector:
    matchNames:
      - age-system
  endpoints:
  - interval: 30s
    path: /metrics
    port: metrics
  selector:
    matchLabels:
      app.kubernetes.io/name: age-secret-operator
      app.kubernetes.io/name: age-secrets
      app.kubernetes.io/instance: release-name
