{{- if .Values.ageGui.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "age-secrets.fullname" . }}-gui
  namespace: {{ .Release.Namespace }}
  labels:
    app: age-gui
  {{- include "age-secrets.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.ageGui.replicas }}
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.ageGui.strategy.rollingUpdate.maxSurge | quote }}
      maxUnavailable: {{ .Values.ageGui.strategy.rollingUpdate.maxUnavailable | quote
        }}
    type: {{ .Values.ageGui.strategy.type | quote }}
  selector:
    matchLabels:
      app: age-gui
  template:
    metadata:
      labels:
        app: age-gui
    spec:
      containers:
        - name: age-gui
          ports:
            - containerPort: 8080
              name: gui
              protocol: TCP
          image: {{ .Values.ageGui.image.repository }}:{{ .Values.ageGui.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.ageGui.image.pullPolicy }}
          resources: {{- toYaml .Values.ageSecretController.controller.resources | nindent 12 }}
          securityContext: {{- toYaml .Values.ageGui.containerSecurityContext | nindent 12 }}
      restartPolicy: Always
{{- end }}
---
{{- if .Values.ageGui.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "age-secrets.fullname" . }}-gui
  namespace: {{ .Release.Namespace }}
  labels:
    app: age-gui
  {{- include "age-secrets.labels" . | nindent 4 }}
spec:
  type: {{ .Values.ageGui.service.type }}
  selector:
    app: age-gui
  ports:
  {{- .Values.ageGui.service.ports | toYaml | nindent 2 }}
{{- end }}
---
{{- if .Values.ageGui.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "age-secrets.fullname" . }}-gui
  namespace: {{ .Release.Namespace }}
  labels:
    app: age-gui
    {{- include "age-secrets.labels" . | nindent 4 }}
  {{- with .Values.ageGui.ingress.annotations }}
  annotations:
    {{- . | toYaml |nindent 4 }}
  {{- end }}
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .Values.ageGui.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "age-secrets.fullname" . }}-gui
                port:
                  number: 8080
  {{- with .Values.ageGui.ingress.tls }}
  tls:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
{{- end }}
