name: Release Charts

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: v4.3.1

      - name: Package chart
        run: |
          mkdir -p /tmp/.chart
          helm lint deploy/chart
          helm package deploy/chart --destination /tmp/.chart
  
      - name: set git user
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
  
      - name: Fetch docs branch
        run: |
          git fetch origin docs:docs || true
          git checkout docs

      - name: Copy chart to docs
        run: |
          cp /tmp/.chart/*.tgz docs

      - name: Update Helm index
        run: |
          helm repo index docs \
          --url https://age-secrets.com

      - name: Commit & push
        run: |
          git add -A
          git commit -m "Publish Helm chart" || true
          git push origin docs
