name: Release Charts

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Publish Helm chart to docs branch
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          charts_dir: deploy
          charts_url: https://age-secrets.com
          owner: ${{ github.repository_owner }}
          repository: ${{ github.event.repository.name }}
          branch: docs
          target_dir: docs
          index_dir: docs
          commit_username: github-actions
          commit_email: github-actions@github.com
