name: MkDocs Deploy
on:
  workflow_dispatch:
    inputs:
      version_new: 
        description: 'new version'
        required: true
        default: '0.0.01'
      version_latest: 
        description: 'latest version'
        required: true
        default: 'latest'
   
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
        
    - uses: actions/setup-python@v6.1.0
      with:
        python-version: 3.13.0
        cache: pip
        cache-dependency-path: requirements.txt
        
    - name: MkDocs dependencies
      run: |
         python -m pip install --upgrade pip
         pip install -r requirements.txt

    - name: set git user
      run: |
        git config user.name "${GITHUB_ACTOR}"
        git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

    - name: Fetch docs branch
      run: |
        git fetch origin docs:docs || true
      
    - name: Build & deploy docs
      run: |
        mike deploy ${{ github.event.inputs.version_new }} ${{ github.event.inputs.version_latest }} --branch docs --allow-empty --config-file pages/operator/mkdocs.yml
        mike set-default 0.0.01 --branch docs --config-file pages/operator/mkdocs.yml

    # - name: Commit changes on main if any
    #   run: |
    #     if [[ -n "$(git status --porcelain)" ]]; then
    #       git add .
    #       git commit -m "update generated files"
    #     else
    #       echo "No changes on main, skipping commit"
    #     fi

    # - name: Push main
    #   uses: ad-m/github-push-action@master
    #   with:
    #     github_token: ${{ secrets.GITHUB_TOKEN }}
    #     branch: main
        
    - name: checkout docs
      run: |
        git checkout -f docs

    - name: Push docs
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: docs
