name: MkDocs Deploy
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    #if: contains(github.event.head_commit.message, 'docs-build')
    steps:
    
    - uses: actions/setup-python@v6.1.0
      with:
        python-version: 3.13.0
        
    - name: MkDocs dependencies
      run: |
        pip install mkdocs-material mike
        
    - uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Build and Commit
      uses: iSOLveIT/mkdocs-notes@main
      with:
        config_file_path: ./docs/operator/mkdocs.yml
        mkdocs_version: 'latest' 
        
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: docs
        target_path: ./pages
