name: MkDocs Deploy
on:
  workflow_dispatch:
    #branches:
      #- main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/setup-python@v6.1.0
      with:
        python-version: 3.13.0
        
    - name: MkDocs dependencies
      run: |
        pip install mkdocs mkdocs-material mike
    
    - uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

    - name: Fetch docs branch
      run: git fetch origin docs:docs || true
      
    - name: MkDocs build and push
      run: |
        pwd
        mike set-default 0.0.1 --config-file docs/operator/mkdocs.yml
        mike deploy 0.0.1 latest --branch docs --config-file docs/operator/mkdocs.yml
