# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: trivy-scan

on:
  workflow_dispatch:
    inputs:
      tag_op:
        description: 'Tag for op'
        required: true
        default: '0.0.1'
      tag_job:
        description: 'Tag for job'
        required: true
        default: '3.22.2'
      tag_gui:
        description: 'Tag for gui'
        required: true
        default: 'alpine3.22-perl'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read

    steps:
      - name: Scan multiple images with Trivy
        uses: aquasecurity/trivy-action@7b7aa264d83dc58691451798b4d117d53d21edfe
        with:
          image-ref: |
            callmewhatuwant/age-secrets-operator:${{ github.event.inputs.tag_op }}
            callmewhatuwant/age-job:${{ github.event.inputs.tag_job }}
            callmewhatuwant/age-gui:${{ github.event.inputs.tag_gui }}
          format: template
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "CRITICAL,HIGH"

      - name: Upload Trivy SARIF results
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results.sarif"
