# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: trivy-scan

on:
  workflow_dispatch:
    inputs:
      tag_op:
        description: 'Tag for op'
        required: true
        default: '0.0.1'
      tag_job:
        description: 'Tag for job'
        required: true
        default: '3.22.2'
      tag_gui:
        description: 'Tag for gui'
        required: true
        default: 'alpine3.22-perl'

jobs:
  build:
    name: scan
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write
      actions: read

    steps:
      - name: Scan age-secrets-operator
        uses: aquasecurity/trivy-action@7b7aa264d83dc58691451798b4d117d53d21edfe
        with:
          image-ref: "callmewhatuwant/age-secrets-operator:${{ github.event.inputs.tag_op }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results-age-secrets-operator.sarif"
          severity: "CRITICAL,HIGH"

      - name: Upload results age-secrets-operator
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results-age-secrets-operator.sarif"

      - name: Scan age-job
        uses: aquasecurity/trivy-action@7b7aa264d83dc58691451798b4d117d53d21edfe
        with:
          image-ref: "callmewhatuwant/age-job:${{ github.event.inputs.tag_job }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results-age-job.sarif"
          severity: "CRITICAL,HIGH"

      - name: Upload results age-job
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results-age-job.sarif"

      - name: Scan age-gui
        uses: aquasecurity/trivy-action@7b7aa264d83dc58691451798b4d117d53d21edfe
        with:
          image-ref: "callmewhatuwant/age-gui:${{ github.event.inputs.tag_gui }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results-image3.sarif"
          severity: "CRITICAL,HIGH"

      - name: Upload results age-gui
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results-age-gui.sarif"
