# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: trivy-scan

on:
  workflow_dispatch:
    inputs:
      op_img: 
        description: 'Img for op'
        required: true
        default: 'callmewhatuwant/age-secrets-operator'
      job_img: 
        description: 'Img for op'
        required: true
        default: 'callmewhatuwant/age-job'
      gui_img: 
        description: 'Img for op'
        required: true
        default: 'callmewhatuwant/age-gui'
      tag_op:
        description: 'Tag for op'
        required: true
        default: '0.0.1'
      tag_job:
        description: 'Tag for job'
        required: true
        default: '3.22.2'
      tag_gui:
        description: 'Tag for gui'
        required: true
        default: 'alpine3.22-perl'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read

    steps:
      - name: Scan age-secrets-operator
        uses: aquasecurity/trivy-action@7b7aa264d83dc58691451798b4d117d53d21edfe
        with:
          image-ref: "${{ github.event.inputs.img_op }}:${{ github.event.inputs.tag_op }}"
          format: template
          template: "@/contrib/sarif.tpl"
          output: "trivy-results-age-secrets-operator.sarif"
          severity: "CRITICAL,HIGH"

      - name: Upload age-secrets-operator SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results-age-secrets-operator.sarif"
          category: "trivy-op"

      - name: Scan age-job
        uses: aquasecurity/trivy-action@7b7aa264d83dc58691451798b4d117d53d21edfe
        with:
          image-ref: "${{ github.event.inputs.img_job }}:${{ github.event.inputs.tag_job }}"
          format: template
          template: "@/contrib/sarif.tpl"
          output: "trivy-results-age-job.sarif"
          severity: "CRITICAL,HIGH"

      - name: Upload age-job SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results-age-job.sarif"
          category: "trivy-job"

      - name: Scan age-gui
        uses: aquasecurity/trivy-action@7b7aa264d83dc58691451798b4d117d53d21edfe
        with:
          image-ref: "${{ github.event.inputs.img_gui }}:${{ github.event.inputs.tag_gui }}"
          format: template
          template: "@/contrib/sarif.tpl"
          output: "trivy-results-age-gui.sarif"
          severity: "CRITICAL,HIGH"

      - name: Upload age-gui SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results-age-gui.sarif"
          category: "trivy-gui"
