# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: trivy-scan

on:
  workflow_dispatch:
    inputs:
      img_op: 
        description: 'Img for op'
        required: true
        default: 'callmewhatuwant/age-secrets-operator'
      img_job: 
        description: 'Img for job'
        required: true
        default: 'callmewhatuwant/age-job'
      img_gui: 
        description: 'Img for gui'
        required: true
        default: 'callmewhatuwant/age-gui'
      tag_op:
        description: 'Tag for op'
        required: true
        default: 'latest'
      tag_job:
        description: 'Tag for job'
        required: true
        default: 'latest'
      tag_gui:
        description: 'Tag for gui'
        required: true
        default: 'latest'

jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read

    steps:
      - name: Scan age-secrets-operator
        uses: aquasecurity/trivy-action@0.33.1
        with:
          version: v0.67.2
          image-ref: "${{ github.event.inputs.img_op }}:${{ github.event.inputs.tag_op }}"
          format: sarif
          output: "trivy-results-age-secrets-operator.sarif"
          #severity: "CRITICAL,HIGH,MEDIUM,LOW"
          #limit-severities-for-sarif: true

      - name: Upload age-secrets-operator SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results-age-secrets-operator.sarif"
          category: "trivy-op"

      - name: Scan age-job
        uses: aquasecurity/trivy-action@0.33.1
        with:
          version: v0.67.2
          image-ref: "${{ github.event.inputs.img_job }}:${{ github.event.inputs.tag_job }}"
          format: sarif
          output: "trivy-results-age-job.sarif"
          #severity: "CRITICAL,HIGH,MEDIUM,LOW"
          #limit-severities-for-sarif: true

      - name: Upload age-job SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results-age-job.sarif"
          category: "trivy-job"

      - name: Scan age-gui
        uses: aquasecurity/trivy-action@0.33.1
        with:
          version: v0.67.2
          image-ref: "${{ github.event.inputs.img_gui }}:${{ github.event.inputs.tag_gui }}"
          format: sarif
          output: "trivy-results-age-gui.sarif"
          #severity: "CRITICAL,HIGH,MEDIUM,LOW"
          #limit-severities-for-sarif: true

      - name: Upload age-gui SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results-age-gui.sarif"
          category: "trivy-gui"
